<!--Kyle Hutchinson created this page on 11/29/2016
  Modifications made by Brett Boehmer on 12/1/2016
-->
<div class = "mainbody">

<h1>About Us</h1>

<h2>We are the Web Ninjas!</h2>

<h2 class ="groupTitle">Group Members:</h2>
<ul class = "aboutusul">
  <li class = "aboutusli">
    Blake Howard<br>
    Email: howard.1003@osu.edu<br><br>
  </li>
  <li class = "aboutusli">
    Brett Boehmer<br>
     Email: boehmer.30@osu.edu<br><br>
  </li>
  <li class = "aboutusli">
    Jason Kline<br>
    Email: kline.379@osu.edu<br><br>
  </li>
  <li class = "aboutusli">
    Kyle Hutchinson<br>
    Email: hutchinson.247@osu.edu<br><br>
  </li>
  <li class = "aboutusli">
    Yuzhao Li<br>
    Email: li.3396@osu.edu<br><br>
  </li>
</ul>

</div>