/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
    font-family: "Roboto", sans-serif;
    color:#f3f3f3;
    position: relative;
    z-index: 1;
    background: #8A0000;
    max-width: 360px;
    margin: 30px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form .message {
    margin: 15px 0 0;
    color: #f3f3f3;
    font-size: 16px;
}
.form .message a {
    color: #f3f3f3;
    text-decoration: none;
}

.container {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position:relative;
    text-align: center;

}
body {
    font-family: "Roboto", sans-serif;
    background:#f3f3f3;
}