// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #666666; /* OSU Gray */
  color: #BB0000; /* OSU Scarlet */
}

h2 {
  text-decoration: underline;
  text-align: center;
}

h3 {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
